<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Site</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%if(!user) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">register</a>
                    </li>
                <%}%>
                <%if(user) {%>
                    <li class="nav-item">
                        <h4><%=user.username%></h4>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/users/logout">logout</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </nav>
    <div class="vertical-center">
        <div class="container">